@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


   /*==========Whatsapp Icon=========*/


   .whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-btn {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #107f39;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: blink 1s infinite alternate;
}

.icon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

@keyframes blink {
    from {
    opacity: 1;
    }
    to {
    opacity: 0.5;
    }
}



/*=============MainBody==========*/


body {
    background-color: white;
    max-width: 100%;
}



.header {
    display: flex;
    flex-direction: column;
}


.nationwide {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 20px;
    border: 1px solid;
    background-color: white;
    height: 40px;
}

.nationwide .material-symbols-outlined{
    transform: scaleX(-1);
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: 5px;
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 40
    
    
}

.nationwide h5 {
    font-family: "Josefin Sans", sans-serif;
    position: relative;
    top: 13px;
    font-weight: 400;
}




/*=============Header==========*/


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}


.header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    width: 100%;
    gap: 50px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.17);
    background-color: white;
    
}

.header1 .material-symbols-outlined {
    font-size: 40px;
}

.sidebar{
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.125);
    width: 250px;
    padding-left: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-top: 40px;
    font-family: "Josefin Sans", sans-serif;
    list-style: none;
    
    top: 0;
    z-index: 999;
}

.sidebar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 100%;
}

.header1 a {
    color: black;
}

.sidebar li {
    width: 100%;
}

.sidebar li:hover{
    background-color: rgb(255, 187, 187);
    width: 20%;
}

.sidebar .material-symbols-outlined{
    font-size: 36px;
}

.logo img {
    width: 100px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 40
}


/*--------------------Catalog Image---------------------*/


 .contact-head-head {
    position: absolute;
    opacity: 9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    background-image: url("image/5.jpg");
    position:relative;
    padding-top:400px;
    /* text-align: center; */
    background-blend-mode: overlay;
    background-color: rgba(11, 11, 11, 0.719);
    object-fit: fill;
    top:-90px;
    padding-left: 20px;


}
     
      .contact-head-head h1{
        font-size: 50px;
        font-weight: 300;
        color:white;
        position:relative;
        top:-200px;
        font-family:"Josefin Sans", sans-serif;
        text-align: left;
        
      }


      a{
        text-decoration: none;
        color:#ff00ff;
      }


/*-------------------Gallery-----------------*/



.gallery-gallery{
    padding:30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"Josefin Sans", sans-serif;
  }

  .gallery-card-mother{
padding-top:50px;
padding-bottom:50px;
  }


  .gal-card{
    padding-bottom:40px;
  }

  .gal-card h2{
    padding-top:15px;
    text-align: left;
    color: #ff00ff;
  }


  .seemore {
    margin-bottom: 80px;
    font-family:"Josefin Sans", sans-serif;
    text-align: left;
    position: relative;
    right: 70px;
  }

  .seemore button {
    background-color: #202020;
    color: #fff;
    padding: 20px 50px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    font-family:"Josefin Sans", sans-serif;
  }

	
  @media (min-width: 768px) {

    .gallery-card-mother{
padding-top:50px;
padding-bottom:50px;
display:grid;
grid-template-columns: repeat(2,40%);
gap:30px;
justify-content: center;
align-items: center;
  }


.gallery-gallery h4{
  width:70%;
  text-align: left;
}



  }


  	
  @media (min-width: 1024px) {

.gallery-card-mother{
padding-top:50px;
padding-bottom:50px;
display:grid;
grid-template-columns: repeat(3,30%);
gap:30px;
justify-content: center;
align-items: center;
}


}





#shopnow {
    position: relative;
    align-items: center;
    text-align: center;
    background-color: rgba(11, 11, 11, 0.874);
    height: 250px;
    background-image: url(image/7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:overlay;
    opacity: 9;
}


.ready {
    position: relative;
    top: 80px;
}


.ready h3 {
    font-family:"Josefin Sans", sans-serif;
    font-weight: 100%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}


.ready button {
    padding: 20px 50px;
    border: none;
    background-color: white;
    font-size: 20px;
    font-family:"Josefin Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
}




/*------------------Footer--------------*/



footer{
    padding-left: 20px;
    background-color:#ff00ff10;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 50px;
    position: relative;
    top: 80px;
  }


  footer a {
    color: #202020;
  }

  
  footer img{
  width: 100px;
  padding-bottom: 10px;
  }
  
  .foot-info-social, .foot-info{
    padding-top:50px;
  }
  
  .foot-social span{
  display:flex;
  flex-direction: row;
  gap: 20px;
  padding-top:10px;
  }
  
  .foot-social i{
    color:#ff00ff;
   font-size:20px;
}
  
  
    .foot-info-mother{
      padding-top:10px;
      display:flex;
      flex-direction: column;
      gap: 20px;
  
    }
  
    .foot-info-mother i{
        color:#ff00ff;
      position :relative;
      top: 0px;
    }
  
  
    .foot-info-mother span{
      display:flex;
      flex-direction: row;
      gap: 20px;
  
    }
  
    .copyright{
      font-size:7px;
      text-align:center;
      padding-top:40px;
      color:#1e1e1e;
    }




